body {
	margin: 0px;
}
.middle-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background-color: #ffffff;
}
.middle-container__text {
	margin: 1rem 20rem;
	margin-bottom: 1%;
}
h2 {
	/* font-size: 45px; */
	margin-bottom: 0;
}
.middle-container__imgtext {
	margin: 1rem 0;
	margin-bottom: 1%;
}
li {
	/* font-size: 20px; */
	font-weight: bold;
	list-style-type: none;
}

p {
	font-size: 15px;
}

img {
	width: 40px;
	height: 40px;
}
