body {
	margin: 0px;
}
.middle-container {
	width: 100%;
	flex-flow: column;
	background-color: #ffffff;
	margin-top: 0;
	padding: 0;
}
h2 {
	font-size: 45px;
	margin-bottom: 0;
}
ul {
	margin: 1rem 20rem;
	margin-bottom: 1%;
}
li {
	font-size: 20px;
	font-weight: bold;
	list-style-type: none;
}

p {
	font-size: 15px;
}
