body {
	margin: 0px;
	display: flex;
}
.middle-car-block {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	background-color: #f3f3f5;
}

.no-car-text {
	color: #373a3c;
	margin: 1rem 20rem;
	margin-bottom: 1%;
}
.list-items {
	flex-direction: row;
}
h2 {
	/*font-size: 45px;*/
	margin-bottom: 0;
}
h3 {
	margin-top: 0;
	/*font-size: 20px;*/
}
.list-items {
	font-size: 30px;
}

img {
	width: 20px;
	height: 20px;
}

footer {
	text-align: center;
}
